# IntelliJ
.idea/
.ai/
*.iml


# Java / Spring Boot
target/
*.class

# logs
*.log

# OS
.DS_Store
Thumbs.db

# Maven
.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/

# Env
.env
*.env